<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Measure Platform account creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.creation.text1}">
			Your Measure Platform account has bean created.
        </p>
        <p>
          <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
             th:text="|${user.login}|">login</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Measure Platform</em>
        </p>
    </body>
</html>
